@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    text-transform: capitalize;
    transition: all .3s ease;
}

::-webkit-scrollbar{
    width: 0;
}

body.dark{
    background-color: #1d222c;
}

body.light{
    background-color: #fff;
}

header{
    position: fixed;
    z-index: 5;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 10vh;
    width: 100%;
    box-shadow: 0 0 5px rgba( 0, 0, 0, .2);
    backdrop-filter: blur(1.5px);
    
    & a{
        text-decoration: none;
        position: relative;
        cursor: pointer;
    }

    & a::before{
        content: '';
        position: absolute;
        bottom: -2px;
        height: 1px;
        width: 100%;
        transform: scaleX(0);
        transition: transform .2s ease;
    }
    
    & a:hover::before{
        transform: scaleX(1);
    }
    
    & i{
        cursor: pointer;
        transition: transform .2s ease;
    }
    
    & i:hover{
        transform: scale(1.1);
    }
    
}

header.dark{
    background-color: #1d222ce4;
    
    & a{
        color: #f0f7ff;
    }

    & a:before{
        background-color: #f0f7ff;
    }
    
    & i{
        color: #f0f7ff;
    }
}

header.light{
    background-color: #ffffffe4;
    
    & a{
        color: #000;
    }

    & a:before{
        background-color: #000;
    }
    
    & i{
        color: #000;
    }
}

main{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    height: 100vh;
    width: 100%;

    & .container{
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
        width: 60%;
        height: 180vh;
        
        & .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            height: 300px;
            border-radius: 30px 5px;
            transition: all .2s;
            
            
            & .card-img{
                margin-top: 10px;
                height: 145px;
                width: 200px;
                border-radius: 15px;
            }

            & .card-img.ae{
                background-image: url(source/imgs/AE__1.webp);
                background-size: contain;
                background-repeat: no-repeat;
                background-position-y: 20px;
            }
            
            & .card-img.gi{
                background-image: url(source/imgs/GI__3.webp);
                background-size: cover;
                background-position-y: -20px;
            }
            
            & .card-img.kd{
                background-image: url(source/imgs/KD__5X.webp);
                background-size: cover;
                background-position-y: -20px;
            }

            & .card-img.lb{
                background-image: url(source/imgs/LB__21.webp);
                background-size: cover;
                background-position-y: -20px;
            }
            
            & .card-img.hv{
                background-image: url(source/imgs/HV__8.png);
                background-size: cover;
                background-position-y: -20px;
            }
            
            & .card-img.ak{
                background-image: url(source/imgs/AK__1.avif);
                background-size: cover;
                background-position-y: -40px;
            }

            & .card-img.np{
                background-image: url(source/imgs/NP__7.webp);
                background-size: cover;
                background-position-y: -20px;
            }
            
            & .card-img.ga{
                background-image: url(source/imgs/GA__1.webp);
                background-size: cover;
                background-position-y: -20px;
            }
            
            & .card-img.mb{
                background-image: url(source/imgs/MB__3.png);
                background-size: cover;
                background-position-y: -45px;
                transform: scale(1);
                -webkit-transform: scalex(-1);
            }
            
            & .card-title{
                margin-top: 5px;
                font-size: 20px;
            }

            & .card-desc{
                font-size: 14px;
                text-transform: none;
            }

            & .card-price{
                display: flex;
                align-items: center;
                margin-top: 5px;
                height: 35px;
                font-weight: 500;
                font-size: 20px;
                
                & sup{
                    font-size: 12px;
                }
                
            }
            
            & .card-btn{
                background-color: #5fcf49;
                color: #fff;
                border-radius: 5px;
                border: none;
                margin-top: 7px;
                padding: 10px;
                width: 75%;
                height: auto;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                transition: background-color .2s;
            }
            
            & .card-btn:hover{
                background-color: #53c23d;
            }
            
            
            & .card-btn.disabled{
                background-color: transparent;
                border: solid 2px #53c23d;
                cursor: default;
            }
        }
        
        & .card.light{
            background-color: #f1f1f1;

            & .card-title, .card-desc, .card-price{
                color: #000;
            }
        }

        & .card.dark{
            background-color: #303642;

            & .card-title, .card-desc, .card-price{
                color: #f0f7ff;
            }
        }

        & .card.light:hover{
            background-color: #eaeaea;
            cursor: default;
        }
        
        & .card.dark:hover{
            background-color: #3c424e;
            cursor: default;
        }
    }
}

.container.activepage{
    display: flex;
}

.container.cart{
    position: relative;
    height: auto;
    display: none;
    align-items: start;
    justify-content: space-between;
    z-index: -1;

    & #demo.dark{
        width: 70%;
        color: #f0f7ff;
    }

    & #demo.light{
        width: 70%;
        color: #000;
    }

    & #demo .cartShoe{
        position: relative;
        background-color: #303642;
        border-radius: 20px;
        display: flex;
        padding: 15px;
        height: 155px;
        width: 450px;
            
        & *{
            color: #f0f7ff;
            display: flex;
        }
        
        & .cartShoeImg{
                background: #3c424e url(source/imgs/GI__3.webp);
                background-size: cover;
                background-position-y: -15px;
                border-radius: 10px;
                height: 125px;
                width: 125px;
            }
        
            & .cartShoeInfos{
                margin-left: 20px;
                height: 90px;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                
                & .cartShoeName{
                    height: 30px;
                    width: 200px;
                    font-size: 18px;
                }
                        
                & .cartShoeColor{
                    height: 20px;
                    width: 115px;
                }
            }
            
            & i{
                position: absolute;
                right: 15px;
                color: rgb(255, 54, 54);
                height: 20px;
                width: 20px;
                font-size: 20px;
                cursor: pointer;
            }
        
            & i:hover{
                color: rgb(228, 43, 43);
            }
        
            & .cartShoePrice{
                position: absolute;
                bottom: 25px;
                right: 25px;
                font-size: 30px;
                font-weight: 500;
            }
        }
        
        & #remove-btn{
        background-color: rgb(255, 54, 54);
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        height: 50px;
        width: auto;
        cursor: pointer;
    }

    & #remove-btn:hover{
        background-color: rgb(228, 43, 43);
    }

    & .cartShoe{
        position: relative;
        background-color: #303642;
        border-radius: 20px;
        display: none;
        padding: 15px;
        height: 155px;
        width: 450px;
        
        & *{
            color: #f0f7ff;
            display: flex;
            
        }
        
        & .cartShoeImg{
            background-size: cover;
            background-position-y: -15px;
            border-radius: 10px;
            height: 125px;
            width: 125px;
        }

        
        & .cartShoeInfos{
            margin-left: 20px;
            height: 90px;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            text-transform: none;
            
            & .cartShoeName{
                height: 30px;
                width: auto;
                font-size: 18px;
            }
                    
            & .cartShoeColor{
                gap: 5px;
                height: 20px;
                width: auto;
            }
        }
        
        & i{
            position: absolute;
            right: 15px;
            color: rgb(255, 54, 54);
            height: 20px;
            width: 20px;
            font-size: 20px;
            cursor: pointer;
        }

        & i:hover{
            color: rgb(228, 43, 43);
        }

        & .cartShoePrice{
            position: absolute;
            bottom: 25px;
            right: 25px;
            font-size: 30px;
            font-weight: 500;
        }
    }
}

.cartShoeImg.ae{
    background-color: #3c424e;
    object-fit: contain;
}

.cartShoeImg.gi{
    background: #3c424e url(source/imgs/GI__3.webp);
}

.cartShoeImg.kd{
    background: #3c424e url(source/imgs/KD__5X.webp);
}

.cartShoeImg.lb{
    background: #3c424e url(source/imgs/LB__21.webp);
}

.cartShoeImg.hv{
    background: #3c424e url(source/imgs/HV__8.png);
}

.cartShoeImg.ak{
    background: #3c424e url(source/imgs/AK__1.avif);
}

.cartShoeImg.np{
    background: #3c424e url(source/imgs/NP__7.webp);
}

.cartShoeImg.ga{
    background: #3c424e url(source/imgs/GA__1.webp);
}

.cartShoeImg.mb{
    background: #3c424e url(source/imgs/MB__3.png);
}

#total{
    background-color: #32384481;
    border: 2px grey solid;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    right: 100px;
    bottom: 40px;
    height: 200px;
    width: 525px;
}

.total{
    font-size: 30px;
    color: white;
    right: 100px;
}

.total:before{
    text-transform: none;
    content: 'Total a pagar: R$ ';
    font-weight: 600;
}

#finish{
    background-color: #5fcf49;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#finish:hover{
    transform: scale(1.05);
    background-color: #53c23d;
}